body{
    background: #E6E6E6;  
}

.container {
    background:#fff; 
    box-shadow: 0 0 10px #000;
    border-radius: 10px;
    width: 900px;
    margin: 0 auto;
    padding: 5px;
    text-align: center;
    height: 600px;

}

.capas{
    
    border:1px solid #000;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 100%;
}